.modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(100, 93, 93, 0.8);

  &-wrapper {
    background-color: #e9e9e9;
    padding: 20px;
    max-width: 500px;
    margin: 10% auto;

  }

  &__input {
    display: flex;
    flex-direction: column;
  }

  &__btn-group {
    display: flex;
    gap: 20px;
  }
}
